<%= form_with scope: :article, url: articles_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br/>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
