<!DOCTYPE html>
<html>
  <head>
    <title>GraphqlBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag webpack_path('application.js'), async: true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
